@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'MuseoSansCyrl', sans-serif;
}

.container {
    max-width: 950px;
    margin: 0 auto;
    position: relative;
}

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/button';
@import 'blocks/advntgs';
@import 'blocks/title';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';



@import 'base/media';